/* Estilos generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(230, 230, 230);
    background: rgb(2 4 6);
    font-family: "Roboto", sans-serif;
    line-height: 20px;
}
header{
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.flex{
    display: flex;
}
.cabecera li{
    padding: 10px 20px;
    list-style-type: none;
}
.cabecera a{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
.cabecera a:hover{
    color: rgb(230 160 0);
}
.imgHeader{
    height: 80px;
}
h1, h2{
    padding: 20px;
    text-shadow: 2px 2px 2px gray;
}
h1{
    margin: 60px 0;
    font-size: 3em;
    text-align: center;
}
h1::selection, p::selection, h2::selection{
    background: #fc0;
}
.centrado, h2{
    text-align: center;
}
.borde_img{
    border: 1px solid rgba(230, 230, 230, 0.295);
    border-radius: 10px;
}
.flex-direction{
    display: flex;
    flex-direction: column;
}
footer{
    height: 80px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
footer p{
    padding-top: 30px;
    width: 95%;
    text-align: center;
    font-size: 1.2em;
    border-top: 1px solid rgb(230, 230, 230);
}

/* Estilos página Index */
.img_inicial{
    height: 500px;
    width: 100%;
    background: url(img/index.jpg) 100% center/cover no-repeat;
    position: relative;
}
.h1_index{
    margin: 140px 20%;
    padding: 80px 80px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.div_texto{
    margin: 120px 300px 60px;
}
.div_texto div{
    margin: 80px 0;
}
.div_texto p{
    margin: 10px 0;
    text-shadow: 1px 1px 1px gray;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.div_texto h2, .centrado h2{
    font-size: 1.5em;
    margin: 20px 0;
}
.img_index{
    height: 400px;
    width: 700px;
    margin: 10px 0 40px;
    box-shadow: 0px 0px 10px 5px rgba(151, 151, 151, 0.5);
}
.img_index:hover{
    border: 2px solid rgba(230, 230, 230, 0.295);
    border-radius: 10px;
}
/* Estilos página de Biografía */
.p_cabecera{
    margin: 60px 0;
}
.img_europa{
    margin: 0 0 60px;
    height: 800px;
    width: 100%;
}
.nav_europa{
    padding: 20px 40px;
    height: 550px;
    width: 40%; 
    border: 2px solid rgba(230, 230, 230, 0.295);
    position: sticky;
    top: 150px;
    left: 82%;
    z-index: 1;
}
.nav_europa ul{
    padding: 20px 0;
}
.nav_europa li{
    padding: 5px 0;
}
.nav_europa li:hover, .nav_europa a:hover{
    color: #fc0;
}
.nav_europa p{
    margin: 20px 0;
    padding-bottom: 25px;
    font-size: 1.2em;
    border-bottom: 2px solid rgba(230, 230, 230, 0.295);
}
.div_secciones{
    margin-right: 300px;
}
.europa{
    height: 1px;
    position: absolute;
    top: 1100px;
}
.div_secciones p{
    margin: 20px 150px 20px 0;
}
.img_article1{
    margin: 50px 30px 0;
    height: 350px;
}
h2{
    margin-top: 150px;
    font-size: 2.3em;
}
.img_article2{
    margin: 20px 70px;
    height: 550px;
    width: 450px;
    border-radius: 10px;
}
.img_article4{
    margin: 50px 8%;
    height: 550px;
    width: 1000px;
}

/* Estilos página Porfolio */
.section_por{
    width: 80%;
    margin: 100px auto;
    padding: 0.1em 0 30px;
    box-shadow: 1px 1px 20px gray;
}
.section_por h2{
    margin: 40px 0;
}
.enunciado2{
    text-decoration-line: underline;
}
.galeria_img{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 20px 20px 20px;
    justify-content: space-evenly;
    justify-items: center;
    gap: 10px;
}
.galeria_img img, video{
    height: 250px;
    width: 300px;
}

/* Estilos página Contacto */
form{
    margin: 20px 23%;
    padding: 80px 110px;
    font-size: 1.3em;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #272727;
}
form div{
    margin: 15px 0;
    width: 100%;
}
form input{
    margin: 10px 0;
    height: 30px;
    width: 100%;
    color: #fc0;
    font-size: 0.8em;
    border: 1px solid gray;
}
textarea{
    height: 200px;
    padding: 10px;
    color: #fc0;
    font-size: 0.8em;
}
textarea::placeholder{
    font-weight: bold;
}
.boton{
    height: 40px;
    width: 30%;
    margin: 70px auto 30px;
    padding: 10px 0;
    color: rgb(230, 230, 230);
    border-radius: 8px;
}
.boton:hover{
    color: #fc0;
    border: 1px solid #fc0;
}