#titulo{
    color: teal;
}
p strong, p > a, th{
    color: red;
}
.destacado, th.especial, td strong {
    color: orange;
}
#subtitulo, a em, caption{
    color: blue;
}
p .especial{
    color: purple;
}
td, #adicional p a{
    color: green;
}
#adicional{
    color: olive;
}
#especial{
    color: fuchsia;
}