/* Estilos generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(230, 230, 230);
    background: rgba(2, 4, 6, 0.884);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
}
header{
    margin: 0 50px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav li{
    padding: 10px 20px;
    list-style-type: none;
}
nav a{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(230, 230, 230);
    text-decoration: none;
}
nav a:hover{
    color: rgb(230 160 0);
}
.imgHeader{
    height: 80px;
}
h1, p, h2{
    padding: 20px 150px;
}
h1{
    margin: 60px 0;
    font-size: 3em;
    text-align: center;
}
h1::selection, p::selection, h2::selection{
    background: #fc0;
}
footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
footer p{
    width: 90%;
    text-align: center;
    border-top: 1px solid rgb(230, 230, 230);
}

/* Estilos página Index */
.centrado{
    text-align: center;
}
.centrado h2{
    font-size: 1.5em;
    margin: 50px 0;
}
.img_index{
    height: 450px;
    width: 800px;
    margin: 10px 0 40px;
}
.img_index:hover{
    border: 2px solid rgba(230, 230, 230, 0.295);
    border-radius: 10px;
}
/* Estilos página de Biografía */
.p_cabecera{
    margin: 60px 0;
}
.img_europa{
    margin: 0 0 60px;
    height: 800px;
    width: 100%;
}
section p{
    margin: 20px 275px;
}
.figure_centro{
    text-align: center;
}
.img_article1{
    margin: 20px 50px;
    height: 400px;
    border: 1px solid rgba(230, 230, 230, 0.295);
    border-radius: 10px;
}
h2{
    margin-top: 100px;
    font-size: 2.3em;
    text-align: center;
}
.img_article2{
    margin: 20px 80px;
    height: 550px;
    width: 450px;
    /* border: 1px solid rgba(230, 230, 230, 0.541); */
    border-radius: 10px;
}
.img_article4{
    height: 650px;
    width: 1400px;
}

/* Estilos página Porfolio */
.enunciado2{
    text-decoration-line: underline;
}
.galeria_img{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 20px 20px 20px;
    justify-content: space-evenly;
    justify-items: center;
    gap: 10px;
}
.galeria_img img{
    height: 200px;
    width: 300px;
}
video{
    height: 200px;
    width: 300px;
}

/* Estilos página Contacto */
form{
    margin: 20px 23%;
    padding: 80px 110px;
    font-size: 1.3em;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #272727;
    display: flex;
    flex-direction: column;
}
form div{
    margin: 15px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
form input{
    margin: 10px 0;
    height: 30px;
    width: 100%;
    color: #fc0;
    font-size: 0.8em;
    border: 1px solid gray;
}
textarea{
    height: 200px;
    padding: 10px;
    color: #fc0;
    font-size: 0.8em;
}
textarea::placeholder{
    font-weight: bold;
}
.boton{
    height: 40px;
    width: 30%;
    margin: 70px auto 30px;
    padding: 10px 0;
    color: rgb(230, 230, 230);
    border-radius: 8px;
}
.boton:hover{
    color: #fc0;
    border: 1px solid #fc0;
}